body{
    background-color: rgb(163, 163, 163);
}

.titulo{
    font-size: 350%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: crimson;
    -webkit-text-stroke: 2px black;
}

#h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: black;
}